
<tr>
<td>{{task}}</td>
<td>{{score}}</td>
<td>
    <button class="change-complete btn btn-warning btn-sm" data-id="{{id}}" data-newcomplete="{{completed}}">
    Mark Complete
</button>
</td>
<td><button class="delete-task btn btn-danger" data-id="{{id}}">Delete</button></td>
</tr>   